# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
jobfinder.egg-info

# Virtual environments
.venv\
venv\
env\

# Packaging / builds
*.egg-info\
dist/
build/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# IGNORE LOCAL
.idea/
.venv/
.serpapi_cache/
jobfinder.db
